.chatPage{
    background-color: rgb(31, 29, 29);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeUsersContainer{
    background-color: white;
    height: 80%;
    width: 19%;
    margin-right: 1.7vmax;
}
.activeUsersHeader{
    height: 10%;
    background-color: #33465C;
    box-sizing: border-box;
    border-bottom: 0.1vmax solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.activeUsersHeader>h2 {
    font-size: 1.5vmax;
    color: white;
}
.activeUsersBox{
    box-sizing: border-box;
    height: 90%;
    overflow-y: auto;
    box-sizing: border-box;
}

.chatContainer{
    background-color: white;
    height: 80%;
    width: 40%;
}

.header{
    background-color: #33465C;
    height: 15%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>h2{
    font-size: 1.5vmax;
    color: white;
    margin: 2.5vmax;
}
.header>a>img{
    margin: 2.5vmax;
    transition: all 0.2s;
    cursor: pointer;
}
.header>img:hover{
    transform: scale(1.2);
}

.chatBox{
    height: 70%;
}

.inputBox{
    height: 15%;
    display: flex;
}
#chatInput{
    width: 80%;
    border: none;
    padding: 2vmax;
    box-sizing: border-box;
    background-color: #33465C;
    outline: none;
    font-size: 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 0.2vmax solid rgb(64, 63, 63);
    color: white;
}

.sendBtn{
    background-color: #33465C;
    color: white;
    width: 21%;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.sendBtn > img{
    width: 2.6vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}


.sendBtn:hover img{
    transform: translateX(10px);
}